<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message-content">
    <p>Hello {{name}}!</p><br>
    <span>Restore Pass Received</span><br>
    <span>If you Solicited a pass restore, click in link above</span>
    <span> 
        <a href="{{link}}">Reset Password</a>
    </span>
    <br>
    <span>If Your doesn`t Solicited This Email Password Restore, Discard This Email!</span><br>
    <span>Thanks!</span>
</div>